<h1>Hello {{firstName}} {{lastName}}</h1>
<h2>{{getMsg()}}</h2>
<h2 [textContent]='title'></h2>
<h2 [style.color]='color'>Example 1</h2>
<button [disabled]='isDesable'>Submit</button>
<label for='keyup'>keyUP</label>
<input type="text" id="keyup" (keyup)='onKeyUp($event)'>
<br>
<br>
<button (click)='onClick($event)' id="counter"><h1>+</h1></button>
<label for="counter"><h1>{{num}}</h1></label>
<br>
<br>
<input type="text" name="value" id="value" [(ngModel)]="value"><br>
<label for="value" (mouseover)="test()"><h1>I entered {{value}}</h1></label>

<ul>
    <li *ngFor='let i of items'>
        {{i}}
    </li>
</ul>

<ul>
    <li *ngFor='let user of users'>
        {{user.id}}- {{user.name}} : {{user.age}}
    </li>
</ul>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Actor</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let movie of movies; let i=index'>
        <th scope="row">{{i+1}}</th>
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.actor}}</td>
        <td>{{movie.year}}</td>
      </tr>
    </tbody>
  </table>
  <input type="text" [(ngModel)]='num1'><br>
  <select class="form-select" aria-label="Default select example" [(ngModel)]='num1'>
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    <option value="100">Undefined</option>
  </select><br>
  <div [ngSwitch]='num1'>
      <p *ngSwitchCase=1>One</p>
      <p *ngSwitchCase=2>Two</p>
      <p *ngSwitchCase=3>Three</p>
      <p *ngSwitchCase=4>Four</p>
      <p *ngSwitchCase=5>Five</p>
      <p *ngSwitchDefault>This is the default</p>
  </div>

  <br>
  <input type="checkbox" id="ng-if" name="True" value="true" [(ngModel)]="show" >
  <p *ngIf="show then thenBlock else elseBlock"></p>
<!-- <label for="ng-if" #thenBlock> Checked</label><br>
<label for="ng-if" #elseBlock> unChecked</label><br> -->
<ng-template #thenBlock>Checked</ng-template>
<ng-template #elseBlock>UnChecked</ng-template>


<button (click)="isSelected = !isSelected" [ngClass]="{'btnBlue':!isSelected,'btnRed':isSelected}">Click To Switch</button>
<br>
<br>
<div>
  Title: <input type="text" [(ngModel)]='mTitle'>
  Actor: <input type="text" [(ngModel)]='mActor'>
  Year: <input type="text" [(ngModel)]='mYear'>
  <button (click)='add()'>Add Movie</button>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Title</th>
      <th scope="col">Actor</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let movie of movies1; let i=index'>
      <th scope="row">{{i+1}}</th>
      <td>{{movie.title}}</td>
      <td>{{movie.actor}}</td>
      <td>{{movie.year}}</td>
      <td><button (click)='removeMovie(i)'>Remove</button></td>
    </tr>
  </tbody>
  <button (click)='refresh()'>Refresh</button>
</table>

<br>
<p>UnFormated Date {{toDate}}</p>
<p>Formated Date {{toDate | date}}</p>
<p>Formated Date {{toDate | date:'shortDate'}}</p>
<p>Formated Date {{toDate | date: 'y'}}</p>

<p>{{toString | uppercase}}</p>
<p>{{toString | lowercase}}</p>
<p>{{toString | slice:0:4}}</p>

<br>
<input type="text" value="{{celsius | transform:'C'}}" [(ngModel)]='Fahrenheit' >
<input type="text" value="{{Fahrenheit | transform:'F'}}" [(ngModel)]='celsius' >